:root {
  --color-background: #222;
  --color-background-darker: #181818;
  --color-background-darkest: #111;
  --color-separator: grey;
  --color-text: #ddd;
  --color-text-hover: white;
  --color-text-dark: #666;
  --color-link: hsl(222 100% 75%);
  --color-link-hover: hsl(222 100% 85%);

  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "Roboto Serif", serif;
}

body {
  margin: 0;
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 10px;
}

p,
li {
  line-height: 1.5;
}

a:link {
  color: var(--color-link);
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: var(--color-link);
}

a:hover {
  color: var(--color-link-hover);
}

code {
  background-color: var(--color-background-darker);
  font-family: "Roboto Mono", monospace;
  padding: 2px;
  border-radius: 5px;
}

pre {
  overflow: auto;
  background-color: var(--color-background-darker);
  padding: 10px;
  border-radius: 10px;
}

pre code {
  background: none;
  padding: initial;
}
