.selection > div {
  display: none;
}

.selectors {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.selector {
  border: 1px solid #555;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
}

.selector input[type="radio"] {
  appearance: none;
  display: none;
}

.selector label {
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
  padding: 5px;
}

.selector input[type="radio"]:checked + label {
  background: #ddd;
  color: #222;
}

body:has(#f32-macbook:checked):has(#u32-macbook:checked) .f32-u32-macbook {
  display: block;
}

body:has(#f32-macbook:checked):has(#u64-macbook:checked) .f32-u64-macbook {
  display: block;
}

body:has(#f64-macbook:checked):has(#u32-macbook:checked) .f64-u32-macbook {
  display: block;
}

body:has(#f64-macbook:checked):has(#u64-macbook:checked) .f64-u64-macbook {
  display: block;
}

body:has(#f32-desktop:checked):has(#u32-desktop:checked) .f32-u32-desktop {
  display: block;
}

body:has(#f32-desktop:checked):has(#u64-desktop:checked) .f32-u64-desktop {
  display: block;
}

body:has(#f64-desktop:checked):has(#u32-desktop:checked) .f64-u32-desktop {
  display: block;
}

body:has(#f64-desktop:checked):has(#u64-desktop:checked) .f64-u64-desktop {
  display: block;
}

body:has(#f32-macbook-mmap:checked):has(#u32-macbook-mmap:checked)
  .f32-u32-macbook-mmap {
  display: block;
}

body:has(#f32-macbook-mmap:checked):has(#u64-macbook-mmap:checked)
  .f32-u64-macbook-mmap {
  display: block;
}

body:has(#f64-macbook-mmap:checked):has(#u32-macbook-mmap:checked)
  .f64-u32-macbook-mmap {
  display: block;
}

body:has(#f64-macbook-mmap:checked):has(#u64-macbook-mmap:checked)
  .f64-u64-macbook-mmap {
  display: block;
}

body:has(#f32-desktop-mmap:checked):has(#u32-desktop-mmap:checked)
  .f32-u32-desktop-mmap {
  display: block;
}

body:has(#f32-desktop-mmap:checked):has(#u64-desktop-mmap:checked)
  .f32-u64-desktop-mmap {
  display: block;
}

body:has(#f64-desktop-mmap:checked):has(#u32-desktop-mmap:checked)
  .f64-u32-desktop-mmap {
  display: block;
}

body:has(#f64-desktop-mmap:checked):has(#u64-desktop-mmap:checked)
  .f64-u64-desktop-mmap {
  display: block;
}

body:has(#f32-macbook-buffer:checked) .f32-macbook-buffer {
  display: block;
}

body:has(#f64-macbook-buffer:checked) .f64-macbook-buffer {
  display: block;
}

body:has(#f32-desktop-buffer:checked) .f32-desktop-buffer {
  display: block;
}

body:has(#f64-desktop-buffer:checked) .f64-desktop-buffer {
  display: block;
}
